

.Uize_Widgets_Buttons_Directional_Css-arrowCenterPin {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
}

.Uize_Widgets_Buttons_Directional_Css-arrow {
	display: block;
	position: absolute;
	border: 20px;
	border-style: solid;
	border-color: #666;
	opacity: .8;
}

/*** styling for different flavors ***/
.Uize_Widgets_Buttons_Directional_Css-positive .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-positive-over .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-positive-active .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-positive-disabled .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-color: #fff;
		}.Uize_Widgets_Buttons_Directional_Css-negative .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-negative-over .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-negative-active .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-negative-disabled .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-color: #fff;
		}.Uize_Widgets_Buttons_Directional_Css-primary .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-primary-over .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-primary-active .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-primary-disabled .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-color: #fff;
		}

/*** styling for different directions ***/
	.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow {
		border-right-color: transparent;
	}
	.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow {
		border-bottom-color: transparent;
	}
	.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow {
		border-left-color: transparent;
	}
	.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
	.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow {
		border-top-color: transparent;
	}

/*** styling for different states ***/
.Uize_Widgets_Buttons_Directional_Css-normal-over .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-positive-over .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-negative-over .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-primary-over .Uize_Widgets_Buttons_Directional_Css-arrow {
			opacity: 0.9;
		}.Uize_Widgets_Buttons_Directional_Css-normal-active .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-positive-active .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-negative-active .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-primary-active .Uize_Widgets_Buttons_Directional_Css-arrow {
			opacity: 1;
		}.Uize_Widgets_Buttons_Directional_Css-normal-disabled .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-positive-disabled .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-negative-disabled .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-primary-disabled .Uize_Widgets_Buttons_Directional_Css-arrow {
			opacity: 0.4;
		}

/*** styling for different sizes ***/
.Uize_Widgets_Buttons_Directional_Css-tiny .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 7.35px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -7.35px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -11.024999999999999px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -3.675px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -7.35px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -11.024999999999999px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -3.675px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 5.197234841721124px;
		}
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-tiny.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -5.197234841721124px;
			left: -5.197234841721124px;
		}.Uize_Widgets_Buttons_Directional_Css-small .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 9.1px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -9.1px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -13.649999999999999px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -4.55px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -9.1px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -13.649999999999999px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -4.55px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 6.434671708797582px;
		}
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-small.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -6.434671708797582px;
			left: -6.434671708797582px;
		}.Uize_Widgets_Buttons_Directional_Css-medium .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 12.6px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -12.6px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -18.9px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -6.3px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -12.6px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -18.9px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -6.3px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 8.909545442950499px;
		}
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-medium.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -8.909545442950499px;
			left: -8.909545442950499px;
		}.Uize_Widgets_Buttons_Directional_Css-large .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 17.15px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -17.15px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-left .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -25.724999999999998px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-right .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -8.575px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			left: -17.15px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-up .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -25.724999999999998px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-down .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -8.575px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			border-width: 12.12688129734929px;
		}
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-upLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-upRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-downLeft .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-downRight .Uize_Widgets_Buttons_Directional_Css-arrow,
		.Uize_Widgets_Buttons_Directional_Css-large.Uize_Widgets_Buttons_Directional_Css-center .Uize_Widgets_Buttons_Directional_Css-arrow {
			top: -12.12688129734929px;
			left: -12.12688129734929px;
		}

